<style>
  #post-content h2 {
    margin: 0;
    text-align: center;
  }

  #post-content h3 {
    text-align: center;
  }

  #post-content #date-and-tags {
    text-align: center;
    display: block;
    margin: 0 auto 2rem;
  }

  #post-content > * {
    margin: 0 0 1rem;
  }

  #post-content img {
    max-width: 40vw;
    min-width: 35vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  #post-content .book-thumbnail img {
    max-width: 15vw;
    min-width: 15vw;
    margin-bottom: 2.5rem;
  }

  @media (max-width: 1200px) {
    #post-content img {
      max-width: 90vw;
      min-width: 85vw;
    }

    #post-content .book-thumbnail img {
      max-width: 50vw;
      min-width: 50vw;
    }
  }
</style>
