{{ define "main" }}
  <main id="main">
    <ul class="patterns-list">
    {{ range .Pages.ByPublishDate.Reverse }}
      <li>
        <p id="post-title">
          <a href="{{ .Permalink }}">
		    <svg class="bookmark-icon" aria-hidden="true" viewBox="0 0 40 50" focusable="false">
			  <use xlink:href="#bookmark"></use>
		    </svg>
            {{ .Title }}
          </a>
        </p>
        <p id="post-sub-title">
          {{ dateFormat "Mon, 02-01-2006, 15 : 04" .PublishDate }}
        </p>
      </li>        
    {{ end }}
    </ul>
  </main>
{{ end }}
