/* Style for markdown */
#main h1 {
	margin-bottom: 3rem;
}
#main h3 {
	margin-top: 1.5rem;
	margin-bottom: 0.75rem;
}
#main p {
	margin-bottom: 1.5rem;
}
#main pre {
	margin-bottom: 0.75rem;
}
#main ul {
	margin-bottom: 0.75rem;
}
p img {
	display: block;
	margin: 0.75rem auto;
}
