html {
  font-size: 1rem;
  line-height: 1.5;
  background-color: #fefefe;
}

#main {
  max-width: 40vw;
  margin: 0 auto;
}

body {
  font-family: "athiti", sans-serif;
  color: #616161;
  min-height: calc(100vh);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (max-width: 1200px) {
  #main {
    max-width: 90vw;
  }
}

a {
  text-decoration: none;
  outline-offset: 2px;
  color: #ff6e40;
}

p {
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

::selection {
  color: black;
  background: #fff59d;
}