<header class="intro-and-nav" role="banner">
    <div class="intro">
	  <div class="logo">
	  	<a href="/{{.Site.Language.Lang}}" aria-label="{{ .Site.Title }} home page">
        	<img src="{{ "images/logo.png" | absURL }}" alt="">
      	</a>
	  </div>
	  {{ if not .IsPage }}
      	<p class="library-desc">
        	{{ with .Site.Params.description }}
          		{{ . | markdownify }}
        	{{ end }}
      	</p>
	  	<p class="profiles">
	  		<a href="https://linkedin.com/in/ddthach">LinkedIn</a>
			|
			<a href="https://github.com/dodaithach">Github</a>
	  	</p>
	  {{ end }}
    </div>
</header>
